<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="cirussageApp">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Cirussage</h1>
      </ion-header-bar>
      <ion-content>
  <div data-ng-controller="FormController">
      <form class="form-horizontal" role="form" ng-submit="insertIntoDynamoDBOnSubmit()" >
      <div class = "list">
   <label class = "item item-input">
      <input type = "text" placeholder = "TestResult ID" ng-model="ReportData.testresuldId" required="required" />
   </label>

   <label class = "item item-input">
      <input type = "text" placeholder = "SampleID" ng-model="ReportData.ampleId" required="required"/>
   </label>

 <label class = "item item-input">
 
      <input type = "text" placeholder = "TestDate" ng-model="ReportData.testdate" required="required"/>
   </label>

    <!-- <label class = "item item-input">
      <input type = "text" placeholder = "GPSLocation" ng-model="ReportData.gpslocation" disabled="" required="required"/>
   </label> -->

    <label class = "item item-input">
      <input type = "text" placeholder = "State" ng-model="ReportData.state" required="required"/>
   </label>

    <label class = "item item-input">
      <input type = "text" placeholder = "Region" ng-model="ReportData.region" required="required"/>
   </label>
    <label class = "item item-input">
      <input type = "text" placeholder = "Client" ng-model="ReportData.client" required="required"/>
   </label>
    <label class = "item item-input">
      <input type = "text" placeholder = "StaffID" ng-model="ReportData.staffId" required="required"/>
   </label>
    <label class = "item item-input">
      <input type = "text" placeholder = "TestFacility" ng-model="ReportData.testfacility" required="required"/>
   </label>
    <label class = "item item-input">
      <input type = "text" placeholder = "TestPerformed" ng-model="ReportData.testperformed" required="required"/>
   </label>
    <label class = "item item-input">
      <input type = "text" placeholder = "Reading" ng-model="ReportData.reading" required="required"/>
   </label>

    <label class = "item item-input">
      <input type = "text" placeholder = "Unit" ng-model="ReportData.unit" required="required"/>
   </label>

    <label class = "item item-input">
      <input type = "text" placeholder = "TestFormula" ng-model="ReportData.testformula" required="required" />
   </label>

    <label class = "item item-input"> 
      <input type = "text" placeholder = "ErrorCode" ng-model="ReportData.errorcode" required="required"/>
   </label>

   <button class = "button button-positive button-block">
   Submit
</button>

</div>
</div>
</form>
      </ion-content>
    </ion-pane>
  </body>
</html>
